<!DOCTYPE html>
<html>
    <head>
        <title>Encountered Error</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Encountered Error</h1>
        <h1><%= err.message %></h1>
        <h2><%= err.status %></h2>
    </body>
</html>
