<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
    <div class="upper-dweller">
      <h2 class="text-center pad-button">Adding Dehumidifiers</h2>
      
      <div class="adjustCenter pad-button">
        <div class="text-center">
          With DryLINK, adding new Bluetooth-enabled equipment is easy. Plug your equipment in and you'll see a prompt letting you add them to your company's equipment inventory.
        </div>
      </div>
      <img class="adjustCenter pad-button" src="img/illustration-onboarding-connected.png" />
    </div>

    <div class="bottom-dweller adjustCenter text-center pad-button">
      <button class="button button-block small-button" ng-click="checkForLegalStuff()">OK</button>
    </div>
  </ion-content>
</ion-pane>