<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
    <div class="upper-dweller">
      <img class="centered-image header-image" src="img/Another-Phoenix-Logo.png" />
      <div class="text-center padding">
        <div class="partial-width-text">
          Begin by entering your email. If you received an email invite, use the address that received the invitation.
        </div>
      </div>
      <form class="list unpad-bottom" name="signInForm" ng-submit="enterEmail()">
        <label class="item-input item-floating-label">
          <span class="input-label input-label-span">Email Address</span>
          <input type="email" ng-model="user.email" placeholder="Email Address" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
        </label>
        <div class="text-center pad-button">
          <button class="button button-block small-button" type="submit" ng-disabled="signInForm.$invalid">NEXT</button>
        </div>
      </form>
    </div>

    <div class="bottom-dweller adjustCenter pad-button">
      <div class="text-center">
        Already have an account?
      </div>
      <button class="button button-block unpad-bottom" ui-sref="login" nav-direction="back">Sign In</button>
    </div>
  </ion-content>
</ion-pane>