<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
      <h2 class="text-center pad-button">Account Verified</h2>
      
      <div class="adjustCenter">
        <div class="text-center">
          Your account has been verified and you are logged in. If you want, you can invite others to join your team right now or you can do so later from the "My Team" page under Account Settings.
        </div>
      </div>

      <div class="text-center pad-button" ng-click="inviteEmployee()">
        <img class="sizeLimitImage pad-button" src="img/illustration-add-users.png" />
        <div class="adjustCenter almost-bold assertive text-center">
          Invite New User
        </div>
      </div>

      <div class="pad-button" ng-if="invitations.length">
        <h2 class="assertive text-center">
          Invitations Sent:
        </h2>
        <div class="text-center" ng-repeat="invitation in invitations">
          {{invitation}}
        </div>
      </div>

    <div class="adjustCenter text-center pad-button">
      <button class="button button-block small-button" ui-sref="dehuExplanation" nav-direction="forward">DONE</button>
    </div>
  </ion-content>
</ion-pane>