<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
    <div class="upper-dweller">
      <img class="centered-image header-image" src="img/Another-Phoenix-Logo.png" />
      <form class="list" name="signUpForm" ng-submit="signUp()">
        <label class="item-input item-floating-label indent-input-left show-overflow" ng-if="!createUser.companyId">
          <i class="icon ion-alert-circled validation-color hover-left" ng-if="signUpForm.company.$invalid"></i>
          <span class="input-label input-label-span">Company Name</span>
          <input type="text" ng-model="createUser.companyName" name="company" placeholder="Company Name" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': signUpForm.company.$invalid}">
          <div class="validation-color drift-above-and-right" ng-if="signUpForm.company.$invalid">
            Company name required
          </div>
        </label>
        
        <label class="item-input item-floating-label indent-input-left show-overflow">
          <i class="icon ion-alert-circled validation-color hover-left" ng-if="signUpForm.password.$invalid || createUser.pwd.length < 6"></i>
          <span class="input-label input-label-span">Password</span>
          <input type="password" ng-model="createUser.pwd" name="password" ng-hide="showPassword" placeholder="Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': signUpForm.password.$invalid || createUser.pwd.length < 6}"/>
          <input type="text" ng-model="createUser.pwd" name="password" ng-show="showPassword" autocorrect="off" autocapitalize="none" placeholder="Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': signUpForm.password.$invalid || createUser.pwd.length < 6}"/>
          <i class="medium-icon hover-right2 ion-eye assertive" on-touch="showPassword = !showPassword"></i>
          <div class="validation-color drift-above-and-right" ng-if="signUpForm.password.$invalid || createUser.pwd.length < 6">
            Password too short
          </div>
        </label>
        <label class="item-input item-floating-label indent-input-left show-overflow">
          <i class="icon ion-alert-circled validation-color hover-left" ng-if="signUpForm.confirmPassword.$invalid || createUser.confirmPwd.length < 6 || createUser.confirmPwd !== createUser.pwd"></i>
          <span class="input-label input-label-span">Confirm Password</span>
          <input type="password" ng-model="createUser.confirmPwd" name="confirmPassword" ng-hide="showPassword" placeholder="Confirm Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': signUpForm.confirmPassword.$invalid || createUser.confirmPwd.length < 6 || createUser.confirmPwd !== createUser.pwd}"/>
          <input type="text" ng-model="createUser.confirmPwd" name="confirmPassword" ng-show="showPassword" autocorrect="off" autocapitalize="none" placeholder="Confirm Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': signUpForm.confirmPassword.$invalid || createUser.confirmPwd.length < 6 || createUser.confirmPwd !== createUser.pwd}"/>
          <div class="validation-color drift-above-and-right" ng-if="createUser.confirmPwd !== createUser.pwd">
            Must match password
          </div>
        </label>
        <label class="item-input item-floating-label indent-input-left pad-the-bottom">
          <i class="icon ion-alert-circled validation-color hover-left" ng-if="!createUser.phone || signUpForm.phone.$invalid"></i>
          <span class="input-label input-label-span">Phone Number</span>
          <input type="tel" ng-model="createUser.phone" name="phone" placeholder="Phone Number" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !createUser.phone || signUpForm.phone.$invalid}" required>
          <div class="validation-color drift-above-and-right" ng-if="!createUser.phone">
            Phone number required
          </div>
        </label>

        <!-- <h4>Notification Preferences</h4>
        <div class="button-bar ts-notif-prefs">
          <button class="button" ng-class="{'button-calm': createUser.hasEmail}" ng-model="createUser.hasEmail" ng-disabled="!createUser.email" ng-click="createUser.hasEmail = !createUser.hasEmail">
            Email
          </button>
          <button class="button" ng-class="{'button-calm': createUser.hasSMS}" ng-model="createUser.hasSMS" ng-disabled="!createUser.phone" ng-click="createUser.hasSMS = !createUser.hasSMS">
            Text
          </button>
        </div> -->
        <div class="text-center pad-button">
          <button class="button button-block small-button" type="submit" ng-disabled="signUpForm.$invalid">NEXT</button>
        </div>
      </form>
    </div>

    <div class="bottom-dweller adjustCenter pad-button">
      <div class="text-center">
        Already have an account?
      </div>
      <button class="button button-block unpad-bottom" ui-sref="login" nav-direction="back">Sign In</button>
    </div>
  </ion-content>
</ion-pane>
