<ion-pane class="loginScreen" cache-view="false">
  <ion-content class="padding central-container">
    <h2 class="text-center pad-button">Check Your Email</h2>
    <div class="adjustCenter">
      <div class="text-center">
        An email has been sent to "{{myEmail}}" with a link to confirm your account. Make sure to check your junk email folder if it does not arrive in your inbox.<br><br>
        After you verify your email, return to this app, be patient, and after a few seconds it will transition to the next step.
      </div>
    </div>
    <img class="adjustCenter pad-button" src="img/illustration-checkmail.png" />

    <div class="extra-pad-button text-center">
      <a class="text-underline almost-bold" ng-click="retrySignup()">
        Resend the email
      </a>
    </div>
    <div class="extra-pad-button text-center">
      <a class="text-underline almost-bold" ng-click="cancelSignup()">
        Cancel account setup
      </a>
    </div>
  </ion-content>
</ion-pane>