<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
    <img class="adjustCenter" src="img/pic-drymax_new.png" />
    <h2 class="text-center">Welcome to DryLINK!</h2>
    
    <div class="adjustCenter">
      <div class="text-center">
        With DryLINK, data can be easily collected from Bluetooth-enabled dehumidifiers and assembled into drying logs, saving you time and money.
      </div>
      <button class="button button-block" ui-sref="enterEmail" nav-direction="forward">Sign Up</button>
    </div>
    <div class="adjustCenter">
      <div class="text-center">
        Already have an account?
      </div>
      <button class="button button-block" ui-sref="login" nav-direction="back">Sign In</button>
    </div>
  </ion-content>
</ion-pane>
