<div class="mainScreensaver" ng-click="$root.hideScreensaver()" ng-if="$root.showScreensaver">
  <img src="img/Whitened-Phoenix-Logo.png" ng-style="$root.screensaverImageLocation"/>
</div>

<ion-nav-bar align-title="center" class="fixed-title-bar" ng-class="{'whiteHeader': useWhiteHeader}">
  <ion-nav-buttons side="left">
    <img class="pad-left" src="img/phoenix-logo-banner.png" />
  </ion-nav-buttons>
  <ion-nav-title>
    <!-- <ion-item nav-clear menu-close ui-sref="app.home"  ui-sref-active="current">
      <div class="underlineable-text">
        Dashboard
      </div>
    </ion-item> -->
    <div class="inline" ui-sref="app.home"  ui-sref-active="current">
      <div class="underlineable-text clickable">
        Equipment
      </div>
    </div>
    <div class="inline" ui-sref="app.locationList"  ui-sref-active="current">
      <div class="underlineable-text clickable">
        Locations
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="clickable" ng-click="$root.signOutPopover($event)">
      <div class="inline somewhat-bigger-text2 hide-overflow" ng-if="$root.userName">
        {{$root.userName}}
      </div>
      <div class="invisible inline somewhat-bigger-text2 hide-overflow" ng-if="!$root.userName">
        --
      </div>
      <i class="inline shift-up-icon ion-chevron-down"></i>
    </div>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="main"></ion-nav-view>

<!-- <ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="$root.sideMenuSwipe">
    <ion-nav-bar align-title="center" class="fixed-title-bar" ng-class="{'whiteHeader': useWhiteHeader}">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="main"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content>
      <div class="upper-dweller">
        
      </div>
      <div class="bottom-dweller">
        <hr class="line-break">
        <div class="bottom-text-blurb">
          <div class="somewhat-bigger-text hide-overflow">
            {{$root.userName}}
          </div>
          <div class="somewhat-smaller-text hide-overflow">
            {{$root.companyName}}
          </div>
        </div>
        <button class="button button-block position-button" ng-click="$root.signOut()">Sign Out</button>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
 -->