<ion-header-bar> <!-- class="otherWhiteHeader"> -->
  <div class="buttons">
    <a class="button button-clear icon ion-chevron-left" ui-sref="login" nav-direction="back"></a>
  </div>
  <h1 class="title">Forgot Password?</h1>
</ion-header-bar>
<ion-content class="padding loginScreen central-container">
  <div class="padding text-center">
    Enter the email address of your account and password reset information will be sent to you.
  </div>
  <form class="list" ng-submit="vm.forgotPassword(vm.emailAddress)">
    <label class="item-input item-floating-label">
      <span class="input-label input-label-span">Email Address</span>
      <input type="email" ng-model="vm.emailAddress" placeholder="Email Address" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
    </label>
    <div class="adjustCenter extra-pad-button">
      <button class="button button-block" type="submit" ng-disabled="!vm.emailAddress">Reset Password</button>
    </div>
    </div>
  </form>
</ion-content>
