<ion-view cache-view="false">
  <ion-header-bar class="otherWhiteHeader">
    <div class="almost-full-line">
      <a class="explanatory-text-red float-right" ng-click="$root.signOut()">LOGOUT</a>
    </div>
  </ion-header-bar>
  <ion-content class="whiteChoicePage" id="scrollingTextField">
    <div class="padding extra-padding-bottom" ng-bind-html="legalBlurb">
    </div>
  </ion-content>

  <div class="theLogEntryBottom2">
    <button class="button button-block transparent-button" ng-if="!finishedReading" disabled>PLEASE SCROLL TO BOTTOM</button>
    <button class="button button-block transparent-button" ng-click="finish()" ng-if="finishedReading">ACCEPT</button>
  </div>
</ion-view>