<ion-pane class="loginScreen">
  <ion-content class="padding central-container">
    <div class="upper-dweller">
      <img class="centered-image header-image" src="img/Another-Phoenix-Logo.png" />
      <form class="list unpad-bottom" name="signInForm" ng-submit="signIn()">
        <label class="item-input item-floating-label">
          <span class="input-label input-label-span">Email Address</span>
          <input type="email" ng-model="user.email" placeholder="Email Address" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
        </label>
        <label class="item-input item-floating-label" ng-if="initializationFinished || tenSecondsPassed">
          <span class="input-label input-label-span">Password</span>
          <input type="password" ng-model="user.password" ng-hide="showPassword" placeholder="Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)"/>
          <input type="text" ng-model="user.password" ng-show="showPassword" autocorrect="off" autocapitalize="none" placeholder="Password" required ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)"/>
          <i class="medium-icon hover-right2 ion-eye assertive" on-touch="showPassword = !showPassword"></i>
        </label>
        <div class="adjustCenter pad-button">
          <button class="button button-block unpad-bottom" type="submit" ng-disabled="signInForm.$invalid">Log In</button>
          <div class="text-center padding">
            <a ui-sref="forgotPassword" nav-direction="forward">Forgot password?</a>
          </div>
        </div>
      </form>
    </div>
    <div class="bottom-dweller adjustCenter pad-button">
      <div class="text-center">
        Need an account?
      </div>
      <button class="button button-block unpad-bottom" ui-sref="enterEmail" nav-direction="forward">Sign Up</button>
    </div>
  </ion-content>
</ion-pane>
