<ion-popover-view>
  <a class="item" ng-click="$root.goToStateFromPopover('app.integrations')">
    Integrations
  </a>
  <a class="item" ng-click="$root.signOut()">
    Sign Out
  </a>
</ion-popover-view