<ion-popover-view class="a-scrollable-popover">
  <div class="choice-header">
    {{countColumns()}} of {{columnList.length}} selected
  </div>
  <div ng-repeat="column in columnList">
    <div class="float-right adjusted-float">
      <div class="clickable ion-arrow-up-b jerome-sized-icon-in-red" ng-class="{invisible: $index === 0}" ng-click="columnMoveUp($index)"></div>
      <div class="clickable ion-arrow-down-b jerome-sized-icon-in-red" ng-class="{invisible: $index >= columnList.length - 1}"  ng-click="columnMoveDown($index)"></div>
    </div>
    <ion-checkbox checked="false" ng-model="columnPreferences[column.serverName]" class="clickable">
      {{column.displayName}}
    </ion-checkbox>
  </div>
</ion-popover-view