<label class="item-floating-label a-label-of-inputs">
  <span class="input-label input-label-span">Location Name</span>
  <input type="text" ng-model="newLocation.name" ng-enter="$root.hideKeyboard()" placeholder="Location Name" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.name}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.name"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.name">
    Name required
  </div>
</label>
<label class="item-floating-label a-label-of-inputs" ng-if="!hideGatewayUUID">
  <span class="input-label input-label-span">UUID</span>
  <input type="text" ng-model="newLocation.gatewayUuid" ng-enter="$root.hideKeyboard()" placeholder="UUID" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.gatewayUuid}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.gatewayUuid"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.gatewayUuid">
    UUID required
  </div>
</label>
