<label class="item-floating-label a-label-of-inputs">
  <span class="input-label input-label-span">Location Name</span>
  <input type="text" ng-model="newLocation.name" ng-enter="$root.hideKeyboard()" placeholder="Location Name" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.name}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.name"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.name">
    Name required
  </div>
</label>
<label class="item-floating-label a-label-of-inputs" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">Address</span>
  <input type="text" ng-model="newLocation.address" ng-enter="$root.hideKeyboard()" placeholder="Address" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.address}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.address"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.address">
    Address required
  </div>
</label>
<label class="item-floating-label a-label-of-inputs" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">City</span>
  <input type="text" ng-model="newLocation.city" ng-enter="$root.hideKeyboard()" placeholder="City" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.city}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.city"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.city">
    City required
  </div>
</label>
<label class="item-floating-label a-label-of-inputs" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">State</span>
  <input type="text" ng-model="newLocation.state" ng-enter="$root.hideKeyboard()" placeholder="State" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.state}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.state"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.state">
    State required
  </div>
</label>
<label class="item-floating-label a-label-of-inputs" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">Zip Code</span>
  <input type="text" ng-model="newLocation.zip" ng-enter="$root.hideKeyboard()" placeholder="Zip Code" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)" ng-class="{'invalidated-input': !newLocation.zip}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.zip"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.zip">
    Zip code required
  </div>
</label>

<!-- <label class="item-floating-label">
  <span class="input-label input-label-span">Location Name</span>
  <input type="text" class="bland-input" ng-model="newLocation.name" ng-enter="$root.hideKeyboard()" placeholder="Location Name" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
</label>
<label class="item-floating-label" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">Address</span>
  <input type="text" class="bland-input" ng-model="newLocation.address" ng-enter="$root.hideKeyboard()" placeholder="Address" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
</label>
<label class="item-floating-label" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">City</span>
  <input type="text" class="bland-input" ng-model="newLocation.city" ng-enter="$root.hideKeyboard()" placeholder="City" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
</label>
<label class="item-floating-label" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">State</span>
  <input type="text" class="bland-input" ng-model="newLocation.state" ng-enter="$root.hideKeyboard()" placeholder="State" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
</label>
<label class="item-floating-label" ng-show="useBackUpAddresses">
  <span class="input-label input-label-span">Zip Code</span>
  <input type="text" class="bland-input" ng-model="newLocation.zip" ng-enter="$root.hideKeyboard()" placeholder="Zip Code" ng-focus="iOSFocusElement($event)" ng-blur="iOSUnfocusElement($event)">
</label> -->
<label class="item-floating-label a-label-of-inputs" ng-show="!useBackUpAddresses">
  <span class="input-label input-label-span">Address</span>
  <input type="text" id="nj-address-field" ng-enter="$root.hideKeyboard()" placeholder="Address" required ng-focus="moveInput($event)" ng-blur="unmoveInput($event)" ng-model="formattedAddress" class="bland-input" ng-class="{'invalidated-input': !newLocation.zip}">
  <i class="icon ion-alert-circled validation-color hover-right" ng-if="!newLocation.zip"></i>
  <div class="validation-color drift-above-and-right2" ng-if="!newLocation.zip">
    Address required
  </div>
</label>
