<ion-popover-view>
  <a class="item" ng-click="addLocationOrEdit(true)" ng-if="aLocation.locationType === 'Fixed'">
    Edit Location
  </a>
  <a class="item" ng-click="addGatewayOrEdit(true)" ng-if="aLocation.locationType === 'Gateway'">
    Edit Location
  </a>
  <a class="item" ng-click="deleteLocation()">
    Delete
  </a>
</ion-popover-view