<ion-view cache-view="false" class="nonLoginScreen">
  <ion-content class="homeScreen" overflow-scroll="true">
    <ion-scroll overflow-scroll="true" direction="x"><div class="embiggened"><div class="main-box">
      <div>
        <div class="inline large-and-bold">
          Equipment
        </div>
        <div class="inline">
          <label class="item item-input searchbox-input2">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="equipmentFilter.$" placeholder="Search by equipment name or info" ng-enter="$root.hideKeyboard()">
          </label>
        </div>
        <div class="inline float-right">
          <div class="inline light-italic">
            {{updatedTime || "Updated at testing"}}
          </div>
          <div class="inline circular-pseudo-button2 clickable" ng-click="refresh()">
            REFRESH STATUS
          </div>
        </div>
      </div>
      <hr class="make-a-margin">
      
      <div class="inline float-top take-twenty-percent white-background" ng-if="!hideSideOptions">
        <div class="fuzzy-word inline">
          Filter Equipment
        </div>
        <i class="inline adjust-chevron adjust-chevron2 ion-chevron-left clickable" ng-click="toggleOptions(true)"></i>
        <div class="less-large-and-bold">
          Locations
        </div>
        <div class="pink-hover clickable" ng-repeat="(location, info) in locationList" ng-click="toggleLocation(location)" ng-class="{'pink-highlight': info.toggled}" ng-if="(inventory | filter: fullFilterSelect('lastScanLocation', location)).length">
          <div class="align-to-center2 width-reduction less-large-and-bold3 inline">
            {{location}} ({{(inventory | filter: fullFilterSelect('lastScanLocation', location)).length}})
          </div>
          <div class="align-to-center3 inline float-right bold-to-the-side" ng-if="info.toggled">
            x
          </div>
        </div>

        <hr class="fainter-boundary">
        <div class="less-large-and-bold">
          Equipment Type
        </div>
        <div class="pink-hover clickable" ng-repeat="equipmentType in equipmentTypeList" ng-click="toggleEquipmentType(equipmentType)" ng-class="{'pink-highlight': equipmentFilter.equipType === equipmentType}" ng-if="(inventory | filter: fullFilterSelect('equipType', equipmentType)).length">
          <div class="align-to-center2 width-reduction less-large-and-bold3 inline">
            {{equipmentType}} ({{(inventory | filter: fullFilterSelect('equipType', equipmentType)).length}})
          </div>
          <div class="align-to-center3 inline float-right bold-to-the-side" ng-if="equipmentFilter.equipType === equipmentType">
            x
          </div>
        </div>

        <hr class="fainter-boundary">
        <div class="less-large-and-bold">
          DryTAG Usage
        </div>
        <div class="pink-hover clickable" ng-click="toggleTagged(false)"  ng-class="{'pink-highlight': tagFilter === false}">
          <div class="less-large-and-bold3 inline">
            Untagged ({{(inventory | filter: fullFilterSelect('drytagUuid', undefined, true)).length || 0}})
          </div>
          <div class="inline pad-a-tag">
            <img class="untagged-image" src="img/untagged.png" />
          </div>
          <div class="inline float-right bold-to-the-side" ng-if="tagFilter === false">
            x
          </div>
        </div>
        <div class="pink-hover clickable" ng-click="toggleTagged(true)"  ng-class="{'pink-highlight': tagFilter === true}">
          <div class="align-to-center2 less-large-and-bold3 inline">
            Tagged ({{(inventory | filter: fullFilterSelect('drytagUuid')).length || 0}})
          </div>
          <div class="align-to-center3 inline float-right bold-to-the-side" ng-if="tagFilter === true">
            x
          </div>
        </div>

        <hr class="fainter-boundary">
        <div class="less-large-and-bold">
          Equipment Status
        </div>
        <div class="less-large-and-bold3 side-type1 clickable" ng-click="toggleStatus('Missing')" ng-class="{'side-type1-enabled': equipmentFilter.status === 'Missing'}">
          <div class="inline align-to-center2">
            <div class="circular-dot"></div>
            Missing ({{(inventory | filter: fullFilterSelect('status', 'Missing')).length || 0}})
          </div>
        </div>
        <!-- <div class="less-large-and-bold" ng-if="inventoryCounts['In transit']">
          In Transit: {{inventoryCounts['In transit']}}
        </div> -->
        <div class="less-large-and-bold3 side-type3 clickable" ng-click="toggleStatus('Available')" ng-class="{'side-type3-enabled': equipmentFilter.status === 'Available'}">
          <div class="inline align-to-center2">
            <div class="circular-dot"></div>
            Available ({{(inventory | filter: fullFilterSelect('status', 'Available')).length || 0}})
          </div>
        </div>
        <div class="less-large-and-bold3 side-type2 clickable" ng-click="toggleStatus('Job')" ng-class="{'side-type2-enabled': equipmentFilter.status === 'Job'}">
          <div class="inline align-to-center2">
            <div class="circular-dot"></div>
            On Jobs ({{(inventory | filter: fullFilterSelect('status', 'Job')).length || 0}})
          </div>
        </div>
        <div class="less-large-and-bold3 side-type4 clickable" ng-click="toggleStatus('Inactive')" ng-class="{'side-type4-enabled': equipmentFilter.status === 'Inactive'}">
          <div class="inline align-to-center2">
            <div class="circular-dot"></div>
            Inactive ({{(inventory | filter: fullFilterSelect('status', 'Inactive')).length || 0}})
          </div>
        </div>

      </div>
      <div class="inline float-top white-background clickable" ng-if="hideSideOptions" ng-click="toggleOptions(false)">
        <div class="less-large-and-bold">
          <i class="inline adjust-chevron ion-chevron-right"></i>
        </div>
      </div>
      <div class="inline take-mostly-all" ng-class="{'take-three-quarters': !hideSideOptions}">
        <div>
          <div class="less-large-and-bold inline">
            All Equipment
          </div>
          <div class="inline circular-pseudo-button clickable" ng-if="canClearFilters()" ng-click="clearFilters()">
            Clear all filters
          </div>
          <div class="inline float-right">
            <div class="inline light-italic padding">
              Displayed Equipment Count: {{(inventory | filter: fullFilter).length}}
            </div>
            <div class="inline text-center clickable a-little-pulldown" ng-click="chooseColumns($event)">
              Columns
              <i class="inline ion-chevron-down"></i>
            </div>
            <div class="inline circular-pseudo-button2 clickable" ng-click="export()">
              EXPORT CSV
            </div>
          </div>
          
        </div>
        <div class="table inline white-background"><!-- <ion-scroll overflow-scroll="true" direction="xy"> -->
          <div class="table-row">
            <div ng-repeat="column in columnList" class="table-cell table-header" ng-class="{'highlighted-cells': lastSortType === column.serverName, 'min-width-small': column.increaseWidthModerate, 'min-width-medium': column.increaseWidth}" ng-if="columnPreferences[column.serverName]">
              <div ng-class="{clickable: column.allowSort}" ng-click="sort(column.serverName, column.allowSort)">
                {{column.displayName}}
                <img class="button-inline-icon" src="img/up-down-arrow.png" ng-if="column.allowSort" />
              </div>
              <input type="text" class="searchbox-input" ng-model="equipmentFilter[column.serverName]" placeholder="Search" ng-enter="$root.hideKeyboard()"  ng-change="unsetLocationFilter(column.isLocation)" ng-if="column.allowFilter">
              <div class="clickable pseudo-searchbox" ng-if="column.isDateRange" ng-show="formatDateRange()" ng-click="setDateRange()">
                {{formatDateRange()}}
              </div>
            </div>
            <div class="table-cell">
              <i class="checkbox-icon minor-adjustments" ng-if="!showFloatingBottom"  ng-click="highlightCheckboxes()"></i>
              <i class="ion-close red-and-large minor-adjustments" ng-if="showFloatingBottom" ng-click="clearCheckboxes()"></i>
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="device in inventory | filter: fullFilter">
            <div ng-repeat="column in columnList" ng-class="{'table-cell': !column.isMapLocation, 'highlighted-cells': lastSortType === column.serverName}"  ng-if="columnPreferences[column.serverName]">
              <div ng-if="column.isMapLocation">
                <div class="table-cell true-inline" ng-click="$root.openExternalMap(device.latitude, device.longitude)" ng-class="{clickable: device.latitude || device.longitude}">
                  {{device.latitude || 0}}, {{device.longitude || 0}}
                </div>
                <i class="icon ion-share clickable" ng-if="device.latitude || device.longitude" ng-click="$root.openExternalMap(device.latitude, device.longitude)"></i>
              </div>
              <div ng-if="!column.isMapLocation">
                <div ng-if="!column.isStatus">
                  <div ng-if="!column.isDateRange">
                    {{device[column.serverName]}}
                    <div class="float-right" ng-if="column.serverName === 'equipName'" ng-show="!device.drytagUuid">
                      <img class="untagged-image" src="img/untagged.png" />
                    </div>
                  </div>
                  <div ng-if="column.isDateRange">
                    {{formatDate(device[column.serverName])}}
                  </div>
                </div>
                <div ng-if="column.isStatus" class="text-center smaller-status" ng-class="{'tag-type1': device[column.serverName] === 'Missing', 'tag-type2': device[column.serverName] === 'Job', 'tag-type3': device[column.serverName] === 'Available', 'tag-type4': device[column.serverName] === 'Inactive', invisible: device[column.serverName] === 'Untagged'}">
                  {{device[column.serverName]}}
                </div>
              </div>
            </div>
            <div class="table-cell">
              <ion-checkbox class="clickable a-good-lil-checkbox remove-checkbox-padding" checked="false" ng-model="device.isChecked" ng-change="toggleCheckboxes()"></ion-checkbox>
            </div>
          </div>
        <!-- </ion-scroll> --></div>
      </div>
    </div></div></ion-scroll>
  </ion-content>
  <div class="central-floating-container" ng-if="showFloatingBottom">
    <div class="central-floating-bar">
      <div class="inline padding remargined" ng-if="checkingCount > 1">
        {{checkingCount}} Items Selected
      </div>
      <div class="inline padding remargined" ng-if="checkingCount === 1">
        1 Item Selected
      </div>
      <a class="inline almost-bold red-link clickable padding remargined" ng-click="clearCheckboxes()">CANCEL</a>
      <button class="inline button button-block smallify clickable" ng-click="bulkBattery()" ng-disabled="!canChangeBatteries">CHANGE DRYTAG BATTERIES</button>
      <div class="inline circular-pseudo-button2 clickable remargined" ng-click="bulkInactive()" ng-if="!onlyInactiveChecked">
        MARK INACTIVE
      </div>
      <div class="inline circular-pseudo-button2 clickable remargined" ng-click="bulkInactive()" ng-if="onlyInactiveChecked">
        MARK ACTIVE
      </div>
    </div>
  </div>
</ion-view>