<ion-view cache-view="false" class="nonLoginScreen">
  <ion-content class="homeScreen">
    <ion-scroll overflow-scroll="true" direction="x"><div class="embiggened embiggened2"><div class="main-box">
      <div class="large-and-bold">
        Integrations
      </div>
      <hr class="make-a-margin">
      <div>
        <div class="white-background margin-it text-right" ng-repeat="integration in integrations">
          <div class="inline the-white-minority">
            <img class="shift-it-up side-icon" src="{{integration.image}}" ng-if="integration.image"/>
          </div>
          <div class="inline text-left a-grey-majority">
            <div>
              <div class="hide-overflow almost-bold slightly-large-and-spaced inline">
                {{integration.realName || integration.id}}
              </div>
              <div class="green-and-circular inline" ng-if="integration.isEnabled">
                CONNECTED
              </div>
              <img class="fix-the-dots float-right" src="img/more-vert-dark.png" ng-click="openMoreOptions($event, integration)" ng-if="integration.isEnabled"/>
            </div>
            <div>
              {{integration.blurb}}
            </div>
            <button class="button button-block a-lil-button" ng-click="addIntegration(integration.id, integration.realName, integration.isEnabled)" ng-if="!integration.isEnabled">ADD INTEGRATION</button>
            <button class="button button-block a-lil-button" ui-sref="app.syncEquipment({clientId: integration.id})" ng-if="integration.isEnabled">SYNC EQUIPMENT</button>
          </div>
        </div>
      </div>
    </div></div></ion-scroll>
  </ion-content>
</ion-view>