<ion-view cache-view="false" class="nonLoginScreen">
  <ion-content class="homeScreen" overflow-scroll="true">
    <ion-scroll overflow-scroll="true" direction="x"><div class="embiggened"><div class="main-box">
      <div class="large-and-bold">
        Locations
        <div class="inline">
          <label class="item item-input searchbox-input2">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="locationFilter.all" placeholder="Search by location name or info" ng-enter="$root.hideKeyboard()">
          </label>
        </div>
      </div>
      <hr class="make-a-margin">
      <div>
        <div>
          <div class="less-large-and-bold inline">
            Fixed Locations
          </div>
          <div class="inline another-annotation">
            These locations have a fixed address and can represent warehouses or storage facilities for your equipment.
          </div>
          <button class="button button-block dark-grey-button this-little-button" ng-click="addLocationOrEdit()">+ ADD</button>
        </div>
        <div class="table inline white-background">
          <div class="table-row">
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastSortType === 'name'}">
              <div class="clickable" ng-click="sort('name')">
                Location Name
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.name" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastSortType === 'address'}">
              <div class="clickable" ng-click="sort('address')">
                Street Address
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.address" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastSortType === 'city'}">
              <div class="clickable" ng-click="sort('city')">
                City
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.city" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastSortType === 'state'}">
              <div class="clickable" ng-click="sort('state')">
                State
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.state" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastSortType === 'zip'}">
              <div class="clickable" ng-click="sort('zip')">
                Zip Code
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.zip" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell">
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="location in locationList.fixed | filter: {$: locationFilter.all, name: locationFilter.name, address: locationFilter.address, city: locationFilter.city, state: locationFilter.state, zip: locationFilter.zip}">
            <div class="table-cell" ng-class="{'highlighted-cells': lastSortType === 'name'}">
              {{location.name}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastSortType === 'address'}">
              {{location.address}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastSortType === 'city'}">
              {{location.city}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastSortType === 'state'}">
              {{location.state}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastSortType === 'zip'}">
              {{location.zip}}
            </div>
            <div class="table-cell">
              <img class="fix-the-dots" src="img/more-vert-dark.png" ng-click="openMoreOptions($event, location)" />
            </div>
          </div>
        </div>

        <br><br>
        <div>
          <div class="less-large-and-bold inline">
            Job Locations
          </div>
          <div class="inline another-annotation">
            You can create and manage Jobs in the DryLINK app and scan DryTAG equipment there to make them appear here.
          </div>
        </div>
        <div class="table inline white-background">
          <div class="table-row">
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastJobSortType === 'name'}">
              <div class="clickable" ng-click="sort('name', 1)">
                Location Name
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.jobName" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastJobSortType === 'address'}">
              <div class="clickable" ng-click="sort('address', 1)">
                Street Address
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.jobAddress" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastJobSortType === 'city'}">
              <div class="clickable" ng-click="sort('city', 1)">
                City
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.jobCity" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastJobSortType === 'state'}">
              <div class="clickable" ng-click="sort('state', 1)">
                State
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.jobState" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastJobSortType === 'zip'}">
              <div class="clickable" ng-click="sort('zip', 1)">
                Zip Code
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.jobZip" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="location in locationList.job | filter: {$: locationFilter.all, name: locationFilter.jobName, address: locationFilter.jobAddress, city: locationFilter.jobCity, state: locationFilter.jobState, zip: locationFilter.jobZip}">
            <div class="table-cell" ng-class="{'highlighted-cells': lastJobSortType === 'name'}">
              {{location.name}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastJobSortType === 'address'}">
              {{location.address}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastJobSortType === 'city'}">
              {{location.city}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastJobSortType === 'state'}">
              {{location.state}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastJobSortType === 'zip'}">
              {{location.zip}}
            </div>
          </div>
        </div>

        <br><br>
        <div>
          <div class="less-large-and-bold inline">
            Mobile Locations
          </div>
          <div class="inline another-annotation">
            Use a phone or tablet to keep track of equipment by giving that phone or tablet a name in the DryLINK app.
          </div>
        </div>
        <div class="table inline white-background">
          <div class="table-row">
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastMobileSortType === 'name'}">
              <div class="clickable" ng-click="sort('name', 2)">
                Location Name
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.mobileName" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastMobileSortType === 'lastReadSecs'}">
              <div class="clickable" ng-click="sort('lastReadSecs', 2)">
                Last Read Time
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <div class="clickable pseudo-searchbox" ng-if="formatDateRange(0)" ng-click="setDateRange(0)">
                {{formatDateRange(0)}}
              </div>
            </div>
            <div class="table-cell table-header">
              <div>
                Location Coordinates
              </div>
            </div>
            <div class="table-cell">
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="location in locationList.mobile | filter: {$: locationFilter.all, name: locationFilter.mobileName, isInDateRange: true}">
            <div class="table-cell" ng-class="{'highlighted-cells': lastMobileSortType === 'name'}">
              {{location.name}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastMobileSortType === 'lastReadSecs'}">
              {{formatDate(location.lastReadSecs)}}
            </div>
            <div class="table-cell true-inline" ng-click="$root.openExternalMap(location.latitude, location.longitude)" ng-class="{clickable: location.latitude || location.longitude}">
              {{location.latitude || 0}}, {{location.longitude || 0}}
            </div>
            <i class="icon ion-share clickable" ng-if="location.latitude || location.longitude" ng-click="$root.openExternalMap(location.latitude, location.longitude)"></i>
            <div class="table-cell">
              <img class="fix-the-dots" src="img/more-vert-dark.png" ng-click="openMoreOptions($event, location)" />
            </div>
          </div>
        </div>

        <br><br>
        <div>
          <div class="less-large-and-bold inline">
            Gateway Locations
          </div>
          <div class="inline another-annotation">
            Use a DryTAG gateway to keep track of DryTAG equipment.
          </div>
          <button class="button button-block dark-grey-button this-little-button" ng-click="addGatewayOrEdit()">+ ADD</button>
        </div>
        <div class="table inline white-background">
          <div class="table-row">
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastGatewaySortType === 'name'}">
              <div class="clickable" ng-click="sort('name', 3)">
                Location Name
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.gatewayName" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell table-header min-width-medium" ng-class="{'highlighted-cells': lastGatewaySortType === 'lastReadSecs'}">
              <div class="clickable" ng-click="sort('lastReadSecs', 3)">
                Last Read Time
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <div class="clickable pseudo-searchbox" ng-if="formatDateRange(1)" ng-click="setDateRange(1)">
                {{formatDateRange(1)}}
              </div>
            </div>
            <div class="table-cell table-header">
              <div>
                Location Coordinates
              </div>
            </div>
            <div class="table-cell table-header" ng-class="{'highlighted-cells': lastGatewaySortType === 'gatewayUuid'}">
              <div class="clickable" ng-click="sort('gatewayUuid', 3)">
                UUID
                <img class="button-inline-icon" src="img/up-down-arrow.png" />
              </div>
              <input type="text" class="searchbox-input" ng-model="locationFilter.gatewayName" placeholder="Search" ng-enter="$root.hideKeyboard()">
            </div>
            <div class="table-cell">
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="location in locationList.gateway | filter: {$: locationFilter.all, name: locationFilter.gatewayName, isInDateRange: true}">
            <div class="table-cell" ng-class="{'highlighted-cells': lastGatewaySortType === 'name'}">
              {{location.name}}
            </div>
            <div class="table-cell" ng-class="{'highlighted-cells': lastGatewaySortType === 'lastReadSecs'}">
              {{formatDate(location.lastReadSecs)}}
            </div>
            <div class="table-cell true-inline" ng-click="$root.openExternalMap(location.latitude, location.longitude)" ng-class="{clickable: location.latitude || location.longitude}">
              {{location.latitude || 0}}, {{location.longitude || 0}}
            </div>
            <i class="icon ion-share clickable" ng-if="location.latitude || location.longitude" ng-click="$root.openExternalMap(location.latitude, location.longitude)"></i>
            <div class="table-cell" ng-class="{'highlighted-cells': lastGatewaySortType === 'gatewayUuid'}">
              {{location.gatewayUuid}}
            </div>
            <div class="table-cell">
              <img class="fix-the-dots" src="img/more-vert-dark.png" ng-click="openMoreOptions($event, location)" />
            </div>
          </div>
        </div>
      </div>
    </div></div></ion-scroll>
  </ion-content>
</ion-view>