<ion-popover-view>
  <a class="item" ng-click="setInactiveStatus(false, aDevice)" ng-if="aDevice.status === 'Inactive'">
    Mark as Active
  </a>
  <a class="item" ng-click="setInactiveStatus(true, aDevice)" ng-if="aDevice.status !== 'Inactive'">
    Mark as Inactive
  </a>
  <a class="item" ng-click="resetBattery(aDevice)" ng-if="aDevice.drytagUuid">
    Change Battery
  </a>
</ion-popover-view