<ion-view cache-view="false" class="nonLoginScreen">
  <ion-content class="homeScreen" overflow-scroll="true">
    <ion-scroll overflow-scroll="true" direction="x"><div class="embiggened"><div class="main-box">
      <div>
        <div class="inline large-and-bold">
          Sync Equipment {{clientName? 'With ' + clientName : ''}}
        </div>
        <div class="inline float-right do-not-block-height">
          <a class="inline almost-bold red-link clickable" ng-click="cancel()">Cancel</a>
          <button class="inline button button-block a-lil-button shift-it-up-again" ng-click="finish()">
            SYNC EQUIPMENT
          </button>
        </div>
      </div>
      <hr class="make-a-margin">

      <div ng-if="syncList.errors.length">
        <div>
          <div class="less-large-and-bold inline">
            Sync Errors
          </div>
          <div class="inline faint wait-to-space-it">
            {{syncList.errors.length}} Equipment
          </div>
        </div>
        <div class="table inline white-background">
          <div class="table-row">
            <div class="table-cell">
              <ion-checkbox class="a-good-lil-checkbox and-another-shift-down" checked="false" ng-model="headers.err" ng-click="selectAll(true)"></ion-checkbox>
            </div>
            <div ng-repeat="column in columnList" class="table-cell table-header" ng-class="{'highlighted-cells': lastSortTypeErr === column.serverName, 'min-width-medium': column.increaseWidth}" ng-if="columnPreferences[column.serverName]">
              <div ng-class="{clickable: column.allowSort}" ng-click="sort(column.serverName, column.allowSort, false, true)">
                {{column.displayName}}
                <img class="button-inline-icon" src="img/up-down-arrow.png" ng-if="column.allowSort" />
              </div>
              <input type="text" class="searchbox-input" ng-model="equipmentFilter[column.serverName]" placeholder="Search" ng-enter="$root.hideKeyboard()"  ng-if="column.allowFilter">
            </div>
          </div>
          <div class="table-row has-bottom-border" ng-repeat="device in syncList.errors | filter: equipmentFilter">
            <div class="table-cell">
              <ion-checkbox class="a-good-lil-checkbox shift-un-poco" checked="false" ng-model="device.shouldSyncIt"></ion-checkbox>
            </div>
            <div ng-repeat="column in columnList" class="table-cell" ng-class="{'highlighted-cells': lastSortTypeErr === column.serverName}"  ng-if="columnPreferences[column.serverName]">
              <div ng-if="!column.isStatus">
                {{device[column.serverName]}}
                <div class="float-right" ng-if="column.serverName === 'equipName'" ng-show="!device.drytagUuid">
                  <img class="untagged-image" src="img/untagged.png" />
                </div>
              </div>
              <a href title="{{device[column.serverName] || 'Synced'}}" ng-if="column.isStatus">
                <img class="sync-image" src="img/error-circle.png" ng-if="device[column.serverName]" />
                <img class="sync-image" src="img/success-circle.png" ng-if="!device[column.serverName]" />
              </a>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div>
        <div class="less-large-and-bold inline">
          Synced Equipment
        </div>
        <div class="inline faint wait-to-space-it">
          {{syncList.synced.length}} Equipment
        </div>
      </div>
      <div class="table inline white-background">
        <div class="table-row">
          <div class="table-cell">
            <ion-checkbox class="a-good-lil-checkbox and-another-shift-down" checked="false" ng-model="headers.sync" ng-click="selectAll(false)"></ion-checkbox>
          </div>
          <div ng-repeat="column in columnList" class="table-cell table-header" ng-class="{'highlighted-cells': lastSortTypeSynced === column.serverName, 'min-width-medium': column.increaseWidth}" ng-if="columnPreferences[column.serverName]">
            <div ng-class="{clickable: column.allowSort}" ng-click="sort(column.serverName, column.allowSort, true, false)">
              {{column.displayName}}
              <img class="button-inline-icon" src="img/up-down-arrow.png" ng-if="column.allowSort" />
            </div>
            <input type="text" class="searchbox-input" ng-model="equipmentFilter[column.serverName]" placeholder="Search" ng-enter="$root.hideKeyboard()"  ng-if="column.allowFilter">
          </div>
        </div>
        <div class="table-row has-bottom-border" ng-repeat="device in syncList.synced | filter: equipmentFilter">
          <div class="table-cell">
            <ion-checkbox class="a-good-lil-checkbox shift-un-poco" checked="false" ng-model="device.shouldSyncIt"></ion-checkbox>
          </div>
          <div ng-repeat="column in columnList" class="table-cell" ng-class="{'highlighted-cells': lastSortTypeSynced === column.serverName}"  ng-if="columnPreferences[column.serverName]">
            <div ng-if="!column.isStatus">
              {{device[column.serverName]}}
              <div class="float-right" ng-if="column.serverName === 'equipName'" ng-show="!device.drytagUuid">
                <img class="untagged-image" src="img/untagged.png" />
              </div>
            </div>
            <a href title="{{device[column.serverName] || 'Synced'}}" ng-if="column.isStatus">
              <img class="sync-image" src="img/error-circle.png" ng-if="device[column.serverName]" />
              <img class="sync-image" src="img/success-circle.png" ng-if="!device[column.serverName]" />
            </a>
          </div>
        </div>
      </div>
    </div></div></ion-scroll>
  </ion-content>
</ion-view>